.Editor{
    display:flex;
    gap: 10px;
}

.Editor input{
    flex: 1;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 5px;
}

.Editor button{
    cursor:pointer;
    width:80px;
    border: none;
    border-radius: 5px;
    background-color:#6495ed;
    color:white;
}

.Editor input:focus{
    border: 1px solid lightskyblue;
    outline: none;
}